@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  --main: #FAFAFA;
  --secondary: #F174DC;
  --shade: #F0F0F0;
  --cta: #F64283;
  background-color: #0E1D39;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #0E1D39; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1B3971;
}


